.footer {
    background-color: var(--primaryColor);
    padding: 10px;
    padding-top: 15px;
    height: 50px;
    display: flex;
    align-items: baseline;  
    justify-content: center; 
    gap: 10px;
    
    
}
